/* fond de page */
body {
/* Seagreen */
  background: #223150;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
}

/* bandeau de titre */
h1 { 
  color: MidnightBlue;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  border: none;
  box-shadow: none;
  background-color: rgba(255,255,255,0.3);
  border-top: 2px solid rgba(255,255,255,0.6);
  border-bottom: 2px solid rgba(255,255,255,0.6);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* contenu de la page */
body > * {
  padding-left: 5px;
}

/* polices de caractères */
body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
}

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: red;
}


legend {
  font-size: 100%;
  font-weight: bold;
  font-family: 'Assistant', sans-serif;
  color: MidnightBlue;
}

fieldset {
  border: 2px outset white;
  border-radius: 2px;
  font-size: 130%;
  background-color: Grey;
}

table {
  margin-border: 2em;
}

span[id=country_name] {
  font-size: 130%;
  color: MidnightBlue;
}

button {
  width:110px;
  padding:6px 0 6px 0;
  font:Bold 13px Arial;
  background:#fff;
